body {
  color: #111;
}

.content {
  margin: 1em;
}

.rows {
  font-size: 90%;
}

.record {
  margin-bottom: 3em;
}

.created_at {
  font-weight: normal;
  font-size: 50%;
}

.query-container {
  margin-bottom: 1em;
  padding: 10px;
  background-color: #f1f6f1;
  border-radius: 5px;
  color: #333;
}

.query {
  max-height: 100px;
  overflow: scroll;
  margin: 0;
}
